name: core_ui
description: UI Kit (Theme, Widgets, L10n)
version: 0.1.0
publish_to: "none"
environment:
  sdk: ">=3.4.0 <4.0.0"
dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.19.0
dev_dependencies:
  flutter_test:
    sdk: flutter
  golden_toolkit: ^0.15.0
flutter:
  uses-material-design: true
  assets:
    - assets/tokens/
